<mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="container">
      <div class="row w-100 align-items-center">
        <div class="col-md-3 d-flex align-items-center">
          <button mat-icon-button class="d-block d-md-none " (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <a routerLink="/" class="navbar-brand d-flex align-items-center text-black text-decoration-none">
            <mat-icon class="me-2">movie</mat-icon>
            <span class="fw-bold fs-4" >CinemaTicket</span>
          </a>
        </div>
        
        <div class="col-md-5 d-none d-md-block">
          <div class="d-flex justify-content-center">
            <a mat-button routerLink="/movie" routerLinkActive="active-link">
              <mat-icon class="me-1">theaters</mat-icon> Phim Đang Chiếu
            </a>
            <a mat-button routerLink="/coming" routerLinkActive="active-link">
              <mat-icon class="me-1">upcoming</mat-icon> Sắp Chiếu
            </a>
            <a mat-button routerLink="/cinemas" routerLinkActive="active-link">
              <mat-icon class="me-1">location_on</mat-icon> Rạp Chiếu
            </a>
            <a mat-button routerLink="/promotions" routerLinkActive="active-link">
              <mat-icon class="me-1">card_giftcard</mat-icon> Khuyến Mãi
            </a>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="d-flex justify-content-end align-items-center">
            <!-- <mat-form-field appearance="outline" class="search-form me-2" hideRequiredMarker>
              <input matInput placeholder="Tìm phim, rạp..." #searchInput>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field> -->
            
            <!-- <button mat-mini-fab color="accent" class="me-2" aria-label="Shopping cart">
              <mat-icon>shopping_cart</mat-icon>
            </button> -->
            
            <button mat-flat-button color="accent" class="d-none d-md-block btn btn-light m-2 mr-*" routerLink="/login">
              <mat-icon class="me-1">account_circle</mat-icon> Đăng Nhập
            </button>
            <button mat-flat-button color="accent" class="d-none d-md-block btn btn-danger m-2 ml-*" routerLink="/register">
                <mat-icon class="me-1">account_circle</mat-icon> Đăng Ký
              </button>
            
            <button mat-icon-button class="d-md-block d-md-none">
              <mat-icon>account_circle</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  
  <!-- Mobile sidenav -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="p-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="m-0">Menu</h2>
        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="py-2">
        <a mat-button class="w-100 justify-content-start" routerLink="/movie">
          <mat-icon class="me-3">theaters</mat-icon> Phim Đang Chiếu
        </a>
        <a mat-button class="w-100 justify-content-start" routerLink="/coming">
          <mat-icon class="me-3">upcoming</mat-icon> Sắp Chiếu
        </a>
        <a mat-button class="w-100 justify-content-start" routerLink="/cinemas">
          <mat-icon class="me-3">location_on</mat-icon> Rạp Chiếu
        </a>
        <a mat-button class="w-100 justify-content-start" routerLink="/promotions">
          <mat-icon class="me-3">card_giftcard</mat-icon> Khuyến Mãi
        </a>
        <mat-divider class="my-2"></mat-divider>
        <a mat-button class="w-100 justify-content-start" routerLink="/login">
          <mat-icon class="me-3">login</mat-icon> Đăng Nhập
        </a>
        <a mat-button class="w-100 justify-content-start" routerLink="/register">
          <mat-icon class="me-3">person_add</mat-icon> Đăng Ký
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
 
  </mat-sidenav-container>

